.cmm-container{
    max-width: 1560px;
    margin: 0 auto;
    padding: 7% 3%;
    overflow: hidden;
}

.cmm-hero-section{
    width: 100%;
    height: 100vh;
    max-height: 600px;
    overflow: hidden;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.205); 
        z-index: 1; 
    }
}

.cmm-hero-image{
    /* Set background image behind the content*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 

}

.cmm-hero-container{
    /* Create container box to help position che content more accuractly - width and height*/
    padding: 0 3%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1560px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    
   

}

.cmm-hero-content{
    color: rgb(255, 255, 255);
    text-align: start;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    .cmm-preheading{
        font-weight: 600;
        letter-spacing: normal;
        font-size: 1.2rem;

    }
    
    h1{
    margin: 0;
    font-size: 5rem;
    line-height: 1;
    font-weight: 600;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    }
    
    p{
    margin: 0;
    padding-top: 8px;
    font-size: 1.2rem; 
    line-height: 2.5rem;
    font-weight: 300;
    color: #ffffff;
    }

 
}

//Google widget style

.grw-net-widget-one{
    justify-content:flex-start !important;
}

//Get rid of widget branding link
.grw-net-widget {
    .branding{
        opacity: 0;
    }
}

.cmm-buttons-container{
   margin-top: 1rem;
}

.cmm-button {
    padding: 12px 36px;

    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;

    &:hover{
        background-color: #3b64a7 ;
    }
}


//Paint matching section -- START

.cmm-paintmatch-section{

    .cmm-paintmatch-wrap{
        z-index: 1;
        max-width: 1560px;
        margin: 0 auto;
        padding: 8% 3%;
        overflow: hidden;
    }
    
    .cmm-paintmatch-text-wrap{
        
        padding-right: 48px;
        

        h2{
          font-size: 2.75rem;
          font-weight: 700;   
          color: #0C2680;
          margin-bottom: 2rem;
          letter-spacing: normal;

        }

  

        p{
        line-height: 29px;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: .3px;
        }    
        
        .intro-p{
            font-weight: 500;
        }
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    }

}

//Paint matching section -- END

//Brand logo section -- START
.cmm-brands-section{
    background-color: #f6f9fc;

    .cmm-brands-container{
        max-width: 1560px;
        margin: 0 auto;
        padding: 7% 3%;
        overflow: hidden;

        .cmm-brand-text-box{
            text-align: center;
            box-sizing: border-box;


            h2{
                font-size: 2.75rem;
                font-weight: 700;   
                color: #0C2680;
                letter-spacing: normal;
                margin-bottom: 16px;
            
      
            }
            
            p{
                margin-top: 0;
                line-height: 29px;
                font-size: 1.0625rem;
                font-weight: 400;
                letter-spacing: .3px;
                color: #7e7e7f;
            }
        }

    }

    .cmm-brand-logo-wrapper{

        flex-wrap: wrap;
        gap: 15px;
        margin-top: 2rem;

        .brand-logo-card{
            position: relative;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            border-radius: 8px;
            padding: 2rem;
            width: 250px;
            height: 150px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s ease, box-shadow 0.3s ease; 
        
        
        &:hover {
            //Add scale and show to increase of card on hover
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px;
        }
            
            img{
                max-height: 120px;
                max-width: 250px;
            }

            

        }
    }
}
//Brand logo section -- END

//Colour matching how to -- START

.cmm-matchsteps-section{
    background: linear-gradient(rgb(29, 12, 77), rgb(13, 26, 138));

   
}
        
.cmm-title-container{
    color: white;
    padding-right: 24px;
        h2{
            font-size: 44px;
            font-weight: 600;
            line-height: 48px;
            margin-bottom: 24px;
        }

        p{
            line-height: 29px;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: .3px;
        }

        @media(max-width:992px){
            margin-bottom: 32px;
        }
    }

.cmm-grid-container{
    display: grid;
    //Auto-fit will create aas many colums as fit within container
    //minmax(300px, 1fr) the grid will become 1 column width in column becomes less then 300px
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 1fr 1fr;

    gap: 24px;

    .cmm-step-content{
        display: flex;
        gap: 0px 16px;
        color: rgb(255, 255, 255);
        align-items: flex-start;
        justify-content: flex-start;
        padding: 24px 24px 24px 24px;
        border-radius: 8px;
        outline: #ffffff8d solid 0.5px;
        //border: 0.5px solid  #ffffffc2;
        //background-color: #dae6f8c2;
        //box-shadow: 0px 18px 36px -18px rgba(0,0,0,0.1),0px 30px 45px -30px rgba(50,50,93,0.25);;

        &:hover{
            box-shadow: rgba(114, 205, 235, 0.528) 0px 4px 12px;
        }


        .step-number{
            font-size: 3.5rem;
            font-weight: 500;
            padding: 0;
            margin: 0;
            line-height: 1.1;
            letter-spacing: 0.05em;
            color: #bcd2f789;
        
        }
        .cmm-step-box{

           h2{
            color: rgb(255, 255, 255);
            font-size: 26px;
            line-height: 40px;
            font-weight: 600;
            margin-bottom: 16px;
           } 

           p{
            color: rgb(237, 237, 237);
            line-height: 29px;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: .3px;
           }
        }
    }
}


//Colour matching how to -- END

//FAQ section -- START
.cmm-faq-section{
    
    .cmm-faq-text-box{
        text-align: center;
        margin-bottom: 48px;
        h2{
            font-size: 1rem;
            color: #34558b;
        }

        h3{
            font-size: 26px;
            line-height: 40px;
            font-weight: 600;
        }
    }

    .cmm-faq-box-wrap{
        max-width: 900px;
        margin: 0 auto;
        user-select: none;

        .cmm-faq-flex-wrap{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            
            details{
                width: 100%;
                padding: 1rem;
                border: 1px solid rgb(211, 211, 211);
                border-radius: 8px;
                margin-bottom: 1rem;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                p{  

                    margin-top: 12px;
                    margin-bottom: 12px;
                
                }

                @media(max-width:665px){
                    align-items: flex-start;
                }
            
            }

            summary {
                cursor: pointer;
                list-style: none; 
            }

            .cmm-summary-wrap{
               font-weight: 500;
               font-size: 1.15rem; 
               display: flex;
               gap: 8px;
               align-items: center;
               justify-content: space-between;
              
               //Adjust animation speed using trasform sec, adjust rotation using cubic-bezier timing
               svg{
                //Prevent svg icon shrinking due to flex responsive sizing
                flex-shrink: 0; 
                transition: transform 0.3s cubic-bezier(0.5, 0.8, 0.5, 1.5);
               }

               @media(max-width:665px){
                align-items: flex-start;
                 }
            }

            
            details[open] .cmm-summary-wrap svg {
                transform: rotate(45deg);
              }
        }
    } 
}

//FAQ section -- END 

//Visit Banner -- START
.cmm-visit-section{
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 3%;
}


.cmm-visit-banner{
    background-color:#2D49DC;
    max-width: 1560px;
    color: #ffffff;
    
    .cmm-visit-text-container{
        padding: 3rem;
    }

    h2 {
        font-size: 2.75rem;
        font-weight: 600;
        color: rgb(255, 250, 251);
    }

    p{  
        margin: 0;
        padding-bottom: 12px;
        font-size: 1.2rem; 
        line-height: 1.25rem;
        font-weight: 300;

        &:nth-of-type(2){
            padding-bottom: 24px;
        }
    }

    
    
    .cmm-banner-image-container {
        height: auto;
        }


    .cmm-banner-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
      
    }
}

//Visit Banner -- END