@use 'vars.scss';

body{
    background-color: rgb(255, 255, 255);
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    box-sizing: border-box;
}


.megamenu  .mega-menu-ul-style {
    padding-left: 16px;
    padding-top: 16px;
}
.mega-menu-ul-style{

   

    li{
        list-style: none;
        font-size: 16px;
        padding-left: 0;
   

        &:first-child{
            font-weight: bold;
        } 

        &:hover{
            background-color: rgb(194, 194, 194);
        }
    }

    a{
        text-decoration: none;
        color: rgb(39, 39, 39);
        
        &:hover{
            //text-decoration: underline rgb(22, 20, 20);
        }

    }
}

.widget-wrap .minicart-quantity{
    background-color: #36578c;
    color: rgb(255, 255, 255);
    top: -6px; // Control how high the circle is above the cart icon
    left: 34px; // Control circle overlap over the cart icon
    right: unset;
    position: absolute;
    display: inline-block;
    width: auto; //Makes background space fit around the number
    height: unset;
    font-size: 14px;
    text-align: center;
    padding: 2px 5px; // Add padding to make circle background
    border-radius: 20px;
    min-width: 20px;
    max-width: unset;
    line-height: 1.15; //Different browsers use different "normal" line heights
}