// Pagination for Woo Category page

.pagination {

    .page-numbers{
      display: flex;
      list-style: none;
      padding: 0;
    
      li{
        padding: 2px 8px;
        border: solid 1.2px rgb(162, 164, 172);
        border-radius: 10px;
        margin-left: 2px;
        margin-right: 2px;
        font-size:  15px;
        text-align: center;
      }
  
      a{
        text-decoration: none;
      }
  
      .current{
       
        color: rgb(4, 2, 36);
      }
    }
    
  
  }