


// Width of content 
.site-main{
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 3%;
}

// Breadcrumps 
.site-main {
  
  .woocommerce-breadcrumb {
     
      font-size: 12px;
      padding: 6px 0 6px;
     // border-bottom: 1px solid var(--header-border-color);
    
     a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
      color: #36548b;
     } 

     a:hover{
      text-decoration: underline;
     }

  }

}

//Product image and gallery - START
.gallery-meta-flex-wrap{
  .woocommerce-product-gallery{
    width: 100% !important;
  }

  /*.woocommerce-product-gallery__image{
    width: 520px;
  } */

  .flex-control-nav{

    li{
      max-width: 80px;
    }
  }

}



//Product image and gallery - END

.summary{
    h1.product_title{
    font-size: 24px;
    line-height: 1.21;
    color:#3c4b71;
    font-weight: 600;
   }

   .star-rating span::before{
    color: #eac701;
   }

   
   p.price{
    font-size: 24px;
    font-weight: 500;
    color:#3c4b71;
   }

   .woocommerce-product-details__short-description{

    h4{
      font-size: 16px;
      font-weight: bold;
      text-align: left;
    }

    p{
      color: #343434;
    }
    }

    p.stock::before{
        content: "Available Units: ";
        color: rgb(54, 54, 54);
      
      
    }
    //Quantity selector and add to cart button
    form.cart{
    
    margin-bottom: 16px !important;

    .quantity .qty{
      width: 5em;
      height: 38px;
    }

    button.single_add_to_cart_button {
      background-color: #36548b;
      padding: 0 38px;
      height: 38px;
      

      &:hover{
        background-color: #557abf;
      }
    }
    }

    .product_meta{
      border-top: 1px solid var(--header-border-color); ;
      padding-top: 8px;

      span.sku_wrapper{
        color: rgb(128, 129, 129);
        font-size: 14px;
      }
    }



}


// Single product tab box -- START   
.single-product-container {
.woocommerce-tabs {
    padding-top:2em;
    margin-bottom:4em;
    width:100%
  }
  .woocommerce-tabs ul.tabs {
    list-style:none;
    padding:0;
    margin:0 0 1em;
    overflow:hidden;
    position:relative
  }
.woocommerce-tabs ul.tabs:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1px;
    background-color:var(--ast-border-color);
  }
.woocommerce-tabs ul.tabs li {
    border:0;
    background:0 0;
    display:inline-block;
    position:relative;
    z-index:0;
    border-radius:4px 4px 0 0;
    margin:0 1em 0 0;
    padding:0;
    border-radius:0
  }
 .woocommerce-tabs ul.tabs li a {
    display:inline-block;
    padding:.5em 0;
    font-weight:700;
    color:#515151;
    text-decoration:none
  }
 .woocommerce-tabs ul.tabs li a:hover {
    text-decoration:none;
    color:#6b6a6b
  }
  .woocommerce-tabs ul.tabs li.active {
    z-index:2;
    border-bottom-color:#fff
  }
  .woocommerce-tabs ul.tabs li.active a {
    text-shadow:inherit
  }
 .woocommerce-tabs ul.tabs li.active::before {
    content:' ';
    position:absolute;
    width:100%;
    height:3px;
    box-shadow:none;
    top:0;
    left:0;
    border-radius:0
  }
  .woocommerce-tabs ul.tabs li.active::after {
    border:none;
    box-shadow:none
  }
 .woocommerce-tabs ul.tabs li::after,
  .woocommerce-tabs ul.tabs li::before {
    content:' ';
    position:absolute;
    bottom:-1px;
    width:5px;
    height:5px;
    border:none;
    box-shadow:none
  }
   .woocommerce-tabs ul.tabs::before {
    position:absolute;
    content:' ';
    width:100%;
    bottom:0;
    left:0;
    border-bottom:1px solid var(--ast-border-color);
    z-index:1
  }
   .woocommerce-tabs ul.tabs li::after,
 .woocommerce-tabs ul.tabs.tabs::before {
    display:none;
    border:0;
  }
  .woocommerce-tabs .panel {
    margin:0 0 1.2em;
    padding:0
  }  
}

// Single product tab box -- END   