@use 'vars.scss';
@import 'header';
@import 'pagination';
@import 'single-product';
@import 'colour-services.scss';

//SVG LAND 

.fas.fa-circle::before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20100%20100%22%3E%3Ccircle%20cx=%2250%22%20cy=%2250%22%20r=%2250%22%20fill=%22%23757575%22/%3E%3C/svg%3E');
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  vertical-align: baseline;
  margin-bottom: 2px;
}



.testing{
  h1 {
    color: orange;
    border-bottom: 2px solid green;
  }
}


.homepage,.service-carousel-wrap,.site-main{
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 3%;
}

.page-wrap{
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 3%;
  min-height: 1040px;
}


.service-bar{
  max-height: 50px;
}

.banner-section{
  height: 100%;
  max-height: 300px;
}

// FRONT-PAGE CSS - START
.front-page-header{
  font-size: 20px;
  color: #2f2f2f;
  font-weight: 500;
}

span.header-highlight{
  color: rgb(0, 116, 217);
  
}


// SERVICE CAROUSEL CSS - START

.service-carousel-background{
  background-color: #f2f2f2;
  min-height: 50px;
}


#service-carousel, .service-carousel-background {
  visibility: hidden;
  opacity: 0; /* Start with opacity set to 0 */
  animation: fadeIn 0.5s ease-out 0.5s forwards; /* 0.5s delay before fading in */
}

@keyframes fadeIn {
  to {
    visibility: visible;
    opacity: 1; /* Fade in */
  }
}

.service-bar-carousel {
  min-height: 50px ;
}

//Make parent slick container flex for responsive center alignment
.slick-track{
  display: flex;
  align-items: center;
}

.service-block {
  
  margin-right: 36px;

  i{
    font-size: 20px;
    color:var(--primary-color) ;
  }

  h6{
    font-size: 14px;
    line-height: 17px;
    color:var(--primary-color) ;
  }

  p{
    font-size: 12px;
    line-height: 17px;
  }
}
// SERVICE CAROUSEL CSS - END
// *** LANDING PAGE BANNER CAROUSEL CSS - START ***
.landing-banner-carousel{

  .banner{

    img{
      max-width: 100%;
      height: auto;
    }
  }

}
// LANDING PAGE BANNER CAROUSEL CSS - END
.category-grid{
  
    img{
      width: 150px;
      height: auto;
    }
    h2{
      font-size: 18px;
      text-align: center;
      color: rgb(0, 116, 217);
    }

    a{
      text-decoration: none;

    &:hover{
      text-decoration: underline;
    }

    }
}
// *** LANDING PAGE PRODUCT CAROUSEL CSS - START ***

.carousel-product{

 .carousel-product-image{

    img{

    max-width: 150px;
    height: auto;
    margin: auto;
    }  
    
 }
 .carousel-product-info{

  a{
    text-decoration: none;
    }

  h3{
    font-size: 16px;
  }  
 }

 // *** LANDING PAGE PRODUCT CAROUSEL CSS - END ***

// *** LANDING PAGE ABOUT STORE SECTION CSS - START ***
 .carousel-product-price{
  
  .regular-price-onsale{
    color: rgb(134, 134, 134);
  }

  h3{
    font-size: 16px;
  }
 }

}

.border-line-frontpage{
    border-width: 1px;
}

.about-store-text-box{
  h2{
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    color: var(--primary-color);
  }

  p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(85, 85, 85);
  }
}

// Woocommerece Archive Product CSS - START

// Archive Header
.woocommerce-products-header{
  
  h1.woocommerce-products-header__title{
      color: rgb(52, 85, 139);
      font-size: 30px;
  }
}

.product-header-decorative-line{
  
    height: 2px;
    border-width: 0px;
    color: #e5e5e5;
    background-color: #e5e5e5;
    opacity: 100%;

    &::before{
      position: absolute;
      content:'';
      height: 2px;
      border-width: 0px;
      color: #de3838;
      background-color: #de3838;
      width: 70px;
      z-index: 99;
    }
}    
      
.rating-wrap{
  
  .star-rating{
    float: left;
  }
  
  .star-rating span::before{
    color: #eac701;
  }
}

.product-quantity{
  p.stock{ 
    margin-bottom: 0px;
  }
}


//Archive Sidebar

.filter-top-section {

  h2{
    color: #284691;
    font-size: 20px;
    font-weight: 400;
  }

}
.filter-reset-button{

  .bapf_sfilter{
    margin-bottom: 0px;
  }

  .bapf_body{
    button.bapf_reset{
      background-color: unset;
      color: #284691;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      text-transform: capitalize;

    &:hover{
      background-color: unset;
    }  
    }
  }
}
.bapf_sfilter{
  .bapf_head{
      h3{
        color: #284691;
      font-size: 20px;
      font-weight: 400;
      }
  }
}

.product-image{
  
  text-align: right;
  
  img{
    max-width: 200px;
    height: auto;
  }
}

.product-info{
    
  .product-delivery{
      
    ul{
      margin: 0;
      padding: 0;
    }
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
  }
}

.out-of-stock{
  color: red;
}

.in-stock{
  color: rgb(17, 147, 5);
}

//Archive product description 

.product-info{

  display: flex;
	flex-direction: column; 

  a{
    text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
  }


  .product-header{
    min-height: 100px;
    word-wrap: break-word !important;
    word-break: break-word !important;
    
    h3.product-title{
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      color :#284691;
    }



  }
  .extra-detail-wrap{
    margin-top: auto;
  }

  .product-price-wrap{

  }
  .archive-button-wrap{
    align-self: flex-start;
	  margin-top: auto;
    flex: 0 1 auto;
  }
}


//Archive add to card button

.archive-button-wrap{
  .button {
    display: inline-block;
    width: 140px;
    padding: 8px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px; 
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px; 
    text-decoration: none;

  &:hover{
    background-color: #4170bc;  
  }  
}

}

// Archive Product  - END
// CHECKOUT CSS - MOVE TO SEPARATE SCSS FILE

.entry-header{

margin-bottom: 24px;


h1.entry-title{
  font-size: 38px;
  font-weight: 500;
  line-height: 21px;
  color :#33558c;
}
}

.wc-block-components-product-metadata{
  display: block;
}

.wc-block-components-checkout-place-order-button{
  background-color: #4170bc;
  border: none;
  color:white;

  &:hover{
  background-color: #224d92;  
  border: none;
  }
}