@use 'vars.scss';

.testing{
  h1 {
    color: orange;
    border-bottom: 2px solid green;
  }
}

.homepage{
  max-width: 1400px;
  margin: 0 auto;
}

// SERVICE CAROUSEL CSS - START
.service-block {
  

  i{
    font-size: 20px;
    color:var(--primary-color) ;
  }

  h6{
    font-size: 14px;
    line-height: 17px;
    color:var(--primary-color) ;
  }

  p{
    font-size: 12px;
    line-height: 17px;
  }
}
// SERVICE CAROUSEL CSS - END
// *** LANDING PAGE BANNER CAROUSEL CSS - START ***
.landing-banner-carousel{

  .banner{

    img{
      max-width: 100%;
      height: auto;
    }
  }

}
// LANDING PAGE BANNER CAROUSEL CSS - END
.category-grid{
  
    img{
      width: 150px;
      height: auto;
    }
    h2{
      font-size: 18px;
      text-align: center;
      color: rgb(0, 116, 217);
    }
}
// *** LANDING PAGE PRODUCT CAROUSEL CSS - START ***

.carousel-product{

 .carousel-product-image{

    img{

    max-width: 150px;
    height: auto;
    margin: auto;
    }  
    
 }
 .carousel-product-info{

  a{
    text-decoration: none;
    }

  h3{
    font-size: 16px;
  }  
 }

 // *** LANDING PAGE PRODUCT CAROUSEL CSS - END ***

// *** LANDING PAGE ABOUT STORE SECTION CSS - START ***
 .carousel-product-price{
  
  .regular-price-onsale{
    color: rgb(134, 134, 134);
  }

  h3{
    font-size: 16px;
  }
 }

}

.border-line-frontpage{
    border-width: 1px;
}

.about-store-text-box{
  h2{
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
    color: var(--primary-color);
  }

  p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(85, 85, 85);
  }
}

// Woocommerece Product CSS
.product-info{
    
  .product-delivery{
      
    ul{
      margin: 0;
      padding: 0;
    }
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
  }
}

.out-of-stock{
  color: red;
}

.in-stock{
  color: rgb(17, 147, 5);
}