@use 'vars.scss';

.testing{
  h1 {
    color: orange;
    border-bottom: 2px solid green;
  }
}

.homepage{
  max-width: 1400px;
  margin: 0 auto;
}


.service-block {
  

  i{
    font-size: 20px;
    color:var(--primary-color) ;
  }

  h6{
    font-size: 14px;
    line-height: 17px;
    color:var(--primary-color) ;
  }

  p{
    font-size: 12px;
    line-height: 17px;
  }
}
.landing-banner-carousel{

  .banner{

    img{
      max-width: 100%;
      height: auto;
    }
  }

}
